.logo {
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.19;
    color: var(--additional-bg-text-color);
    text-decoration: none;
}

.logo__dark {
    color: var(--black-color);
}

.logo__white {
    color: var(--white-color);
}