.header {
    border-bottom: 1px solid #ECECEC;
    height: 80px;
    display: flex;
    align-items: center;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: center;
}